@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #030712;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* --color-sidebar-500: #222531; */
  /* --color-sidebar-500: #191e25; */
  --color-content: #191e26;
  --color-sidebar-500: #191e25;
  --color-sidebar-divider: #191e26;
}

pre {
    background: var(--background);
  }

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

pre {
  /* background: #000 !important; */
}

.thumbnail {
  width: 100px; height: auto;
}

.hide {
  display: none !important;
}

.debug {
  border: 1px dashed red !important;
}

.pointer {
  cursor:pointer !important;
}

input {
  
}

.sidebar-layout {
  /* background: #020713; */
  /* background: #191d26; */
  background: #151820;
  /* background: #08090d; */
}



.content {
  /* background: #0F1828; */
  background: #191e26;
}
