@import "tailwindcss";

:root {
  --background: #030712;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

pre {
    background: var(--background);
  }

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

pre {
  /* background: #000 !important; */
}

.thumbnail {
  width: 100px; height: auto;
}

.hide {
  display: none !important;
}

.debug {
  border: 1px dashed red !important;
}

input {
  background: #000;
}


.pointer {
  cursor:pointer;
}